{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="backdrop"></div><a class="backtop fas fa-arrow-up" href="#"></a>
    

    <div class="mobile-menu"><a href="index.html" title="Home Page"><i
                class="fas fa-home"></i><span>Home</span></a><button class="cate-btn" title="Category List"><i
                class="fas fa-list"></i><span>category</span></button><button class="cart-btn" title="Cartlist"><i
                class="fas fa-shopping-basket"></i><span>cartlist</span><sup>9+</sup></button><a href="wishlist.html"
            title="Wishlist"><i class="fas fa-heart"></i><span>wishlist</span><sup>0</sup></a><a href="compare.html"
            title="Compare List"><i class="fas fa-random"></i><span>compare</span><sup>0</sup></a></div>
    <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
        <div class="container">
            <h2>blog Standard</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog Standard</li>
            </ol>
        </div>
    </section>

    <section class="inner-section blog-standard">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for post in post_list %}
                            <div class="blog-card">
                                <div class="blog-media">
                                    <a class="blog-img" href="#"><img src="{{post.image.url}}" alt="blog"></a>
                                </div>
                                <div class="blog-content">
                                    <ul class="blog-meta">
                                        <li><i class="icofont-ui-calendar"></i><span>{{post.timestamp|timesince}} ago</span></li>
                                        <li><i class="icofont-ui-calendar"></i><span>{{post.updated_on|timesince}} ago</span></li>
                                        <li><i class="icofont-user-alt-3"></i><span>{{ post.author }}</span></li>
                                        <li><i class="icofont-speech-comments"></i><span>{{post.comments.count}} comments</span></li>
                                        {% if request.user == post.author %}
                                        <li><i class="icofont-speech-comments"></i>
                                            <a href=""><span>Edit post</span></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    <h4 class="blog-title">
                                        <a href="blog-details.html">{{post.title}}</a>
                                    </h4>
                                    <p class="blog-desc">{{post.content|safe}}...</p>
                                    <a class="blog-btn" href="{% url 'post-detail' post.slug %}">
                                        <span>read more</span><i class="icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% if post_list.has_other_pages %}
                        <div class="col-lg-12">
                            <div class="bottom-paginate">
                                <p class="page-info">Showing 12 of 60 Results</p>
                                <ul class="pagination">
                                    {% if post_list.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ post_list.previous_page_number }}"><i class="fas fa-long-arrow-alt-left"></i></a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item"><a class="page-link active" href="#">{{post_list.number}}</a></li>
                                    <li class="page-item">...</li>
                                    {% if post_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ post_list.next_page_number }}"><i class="fas fa-long-arrow-alt-right"></i></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-10 col-md-7 col-lg-4">
                    <div class="blog-widget">
                        <h3 class="blog-widget-title">Find blogs</h3>
                        <form class="blog-widget-form"><input type="text" placeholder="Search blogs"><button
                                class="icofont-search-1"></button></form>
                    </div>
                    <div class="blog-widget">
                        <h3 class="blog-widget-title">popular feeds</h3>
                        <ul class="blog-widget-feed">
                            {% for post in popular %}
                            <li>
                                <a class="blog-widget-media" href="#">
                                    <img src="{{post.image.url}}" alt="blog-widget">
                                </a>
                                <h6 class="blog-widget-text">
                                    <a href="#">{{post.title}}</a><span>{{post.timestamp|timesince}}</span>
                                </h6>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog-widget">
                        <h3 class="blog-widget-title">top categories</h3>
                        <ul class="blog-widget-category">
                            <li><a href="#">farming <span>22</span></a></li>
                            <li><a href="#">agriculture <span>14</span></a></li>
                            <li><a href="#">organic food <span>35</span></a></li>
                            <li><a href="#">vegetables <span>67</span></a></li>
                            <li><a href="#">healthy life <span>38</span></a></li>
                        </ul>
                    </div>
                    <div class="blog-widget">
                        <h3 class="blog-widget-title">popular tags</h3>
                        <ul class="blog-widget-tag">
                            <li><a href="#">farming</a></li>
                            <li><a href="#">organic</a></li>
                            <li><a href="#">food</a></li>
                            <li><a href="#">healthy</a></li>
                            <li><a href="#">agriculture</a></li>
                            <li><a href="#">vegetables</a></li>
                            <li><a href="#">grocery</a></li>
                            <li><a href="#">vegan</a></li>
                            <li><a href="#">life</a></li>
                            <li><a href="#">enjoy</a></li>
                        </ul>
                    </div>
                    <div class="blog-widget">
                        <h3 class="blog-widget-title">follow us</h3>
                        <ul class="blog-widget-social">
                            <li><a href="#" class="icofont-facebook"></a></li>
                            <li><a href="#" class="icofont-twitter"></a></li>
                            <li><a href="#" class="icofont-linkedin"></a></li>
                            <li><a href="#" class="icofont-pinterest"></a></li>
                            <li><a href="#" class="icofont-instagram"></a></li>
                        </ul>
                    </div>
                    <div class="blog-widget">
                        <a href="#"><img class="img-fluid" src="{% static 'images/promo/blog/01.jpg' %}" alt="promo"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="news-part" style="background: url(images/newsletter.jpg) no-repeat center;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-6 col-xl-7">
                    <div class="news-text">
                        <h2>Get 20% Discount for Subscriber</h2>
                        <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 col-xl-5">
                    <form class="news-form"><input type="text" placeholder="Enter Your Email Address"><button><span><i
                                    class="icofont-ui-email"></i>Subscribe</span></button></form>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="intro-part">
        <div class="container">
            <div class="row intro-content">
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-truck"></i></div>
                        <div class="intro-content">
                            <h5>free home delivery</h5>
                            <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
                        <div class="intro-content">
                            <h5>instant return policy</h5>
                            <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-headset"></i></div>
                        <div class="intro-content">
                            <h5>quick support system</h5>
                            <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-lock"></i></div>
                        <div class="intro-content">
                            <h5>secure payment way</h5>
                            <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    {% endblock content %}
