{% load static %}

<script src="{% static 'vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/countdown/countdown.min.js' %}"></script>
<script src="{% static 'vendor/niceselect/nice-select.min.js' %}"></script>
<script src="{% static 'vendor/slickslider/slick.min.js' %}"></script>
<script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'js/nice-select.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/accordion.js' %}"></script>
<script src="{% static 'js/venobox.j' %}s"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>